* {
  margin: 0;
  box-sizing: border-box;
}
.App {
  background-color: #37474f;
}

.min-height-100vh {
  min-height: 100vh !important;
  margin: 0 !important;
}

.min-height-100 {
  margin: 0;
  height: 100%;
  min-height: 100% !important;
}

.sidebar-title {
  font-size: 1.5em;
  padding-left: 0.5em;
  padding-bottom: 0.4em;
  margin: 0;
}

.sidebar-links {
  width: 100%;
  margin-bottom: 0.3em;
}

.header-title {
  font-size: 2.5em;
  padding-left: 0.5em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  margin: 0;
}

.margin-none {
  margin: 0 !important;
}

.datepicker-override {
  color: black;
}

.width-100 { width: 100%; }

.card-icons {
  max-height: 2.5ch;
  filter: invert(100%); /* Black to white */
}

.card-pointer { cursor: pointer; }

.burger {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 1em;
  right: 0;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
}

.btn-add {
  margin-top: 1em;
}

.form-buttons {
  margin: 0.5em;
}